*{
    padding: 0px 20px;
}
body{
    background-color: #282a36;
    font-family: "Madimi One";
    color: bisque;
}
.total{
    display: flex;
    flex-direction: column;
    margin: -25px;
    
}
.total .title{
    font-size: 2.5rem;
    align-self:center;
    margin-bottom: 50px;
}
.contains{
    margin-top: -25px;
    display: flex;
    justify-content: space-around;
    border: 3px solid beige;
    padding: 50px;
    border-radius: 10px;
}
.results{
    display: flex;
    flex-direction: column;
    margin-top: -26px;
    margin-left: -50px;
    border: 3px solid beige;
    width: 800px;
    border-radius: 50px;
}
.head{
    margin-top:0px;
    font-size: 1.7rem;
    padding: 10px;
    align-self: center;
}
.container{
    display: flex;
    flex-direction: column;
    margin: -25px;
    
}
.choices {
    display: flex;
    flex-direction: column;
}
.choices .h3{
    align-self: flex-start;
    font-size: 1.8rem;
    margin-top: -2px;
}
.container .choose{
    display: flex;
    flex-direction: column;
    width: 100vh;
    align-self: flex-start;
    justify-content: space-between;

}
.rock .btn{
    background-color: #282a36;
    border-radius: 100%;
    font-family: "Madimi One";
    color: bisque;
    width: 120px;
   
}
.rock {
    display: flex;
    flex-direction: row;
    width:40px;
    margin: 10px;
    margin-left: 40px;
}
.itemTitle{
    padding-top: 45px;
    margin-top: 1px;
    align-self: center;
    font-size: 1.6rem;
}
.rock .btn img{
    margin-left: -27px;
    width: 100px;
    font-family: "Madimi One";

}
.span{
    font-size: 1.4rem;
}
.winner{
    font-size: 1.7rem;
    margin-top: 0px;
}